.gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(134,1,1,1) 0%, rgba(255,187,0,1) 87%);
}

.border-none {
    border: none;
}

.font-weight {
    font-weight: bold;
}